<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.blog.xuexi.dao.ZjUserFriendsMapper">
  <resultMap id="BaseResultMap" type="xyz.blog.xuexi.pojo.ZjUserFriends">
    <id column="Id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_friends_id" jdbcType="BIGINT" property="userFriendsId" />
    <result column="user_note" jdbcType="VARCHAR" property="userNote" />
    <result column="user_status" jdbcType="VARCHAR" property="userStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, user_id, user_friends_id, user_note, user_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zj_user_friends
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zj_user_friends
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="xyz.blog.xuexi.pojo.ZjUserFriends">
    insert into zj_user_friends (Id, user_id, user_friends_id, 
      user_note, user_status)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{userFriendsId,jdbcType=BIGINT}, 
      #{userNote,jdbcType=VARCHAR}, #{userStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="xyz.blog.xuexi.pojo.ZjUserFriends">
    insert into zj_user_friends
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userFriendsId != null">
        user_friends_id,
      </if>
      <if test="userNote != null">
        user_note,
      </if>
      <if test="userStatus != null">
        user_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userFriendsId != null">
        #{userFriendsId,jdbcType=BIGINT},
      </if>
      <if test="userNote != null">
        #{userNote,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null">
        #{userStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.blog.xuexi.pojo.ZjUserFriends">
    update zj_user_friends
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userFriendsId != null">
        user_friends_id = #{userFriendsId,jdbcType=BIGINT},
      </if>
      <if test="userNote != null">
        user_note = #{userNote,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null">
        user_status = #{userStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.blog.xuexi.pojo.ZjUserFriends">
    update zj_user_friends
    set user_id = #{userId,jdbcType=BIGINT},
      user_friends_id = #{userFriendsId,jdbcType=BIGINT},
      user_note = #{userNote,jdbcType=VARCHAR},
      user_status = #{userStatus,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=BIGINT}
  </update>
</mapper>